{% extends 'FPT2017/head.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>Aperçu des Rounds</h1>
    </div>

    <div class="content container">
        <p class="emphase">Cliquez sur chaque Round pour avoir un résumé détaillé. Cliquez sur les Physics Fights pour avoir une vue synthétique de tous les Rounds.</p>
    </div>

    <div class="content container">
        <table class="table-borders">
            <tr>
                <th></th>
                <th class="th-center"><a href="{% url 'FPT2017:physics_fight_detail' pfid=1 %}">Physics Fight 1</a></th>
                <th class="th-center"><a href="{% url 'FPT2017:physics_fight_detail' pfid=2 %}">Physics Fight 2</a></th>
                <th class="th-center"><a href="{% url 'FPT2017:physics_fight_detail' pfid=3 %}">Physics Fight 3</a></th>
            </tr>

            {% for thisroom in orderedroundsperroom %}
            <tr>
                <td class="td-border"><table><td class="td-center"><b>{{thisroom.0.0.room}}</b></td></table></td>
                {% for thispf in thisroom %}
                <td class="td-border">
                    <table>
                        {% for round in thispf%}
                        <td class="td-center"><a href="{% url 'FPT2017:round_detail' pk=round.pk %}">Round {{round.round_number}}</a></td>
                        {% endfor %}
                    </table>
                </td>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


   
{% endblock content %}
