{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'FPT2017/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">    <script src="/static/js/sorttable.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'FPT2017/IPT_logo.png' %}" />
    <title>FPT 2017</title>
</head>
<body>
        <div class="topmenu">
            <h1>
                <table><tr>
                    <td style="width:75px"><a href="//iptnet.info"><img src="{% static 'FPT2017/IPT_logo.png' %}" alt="FPT 2017" style="width:50px;height:50px;"></a></td>
                    <td class="td-center" style="width:250px;text-align:left"><a href="//connect.iptnet.info">IPT connect</a></td>
                    <td class="td-center"></td>
                    <td class="td-center"></td>
                    <td class="td-center"></td>
                    <td class="td-center"></td>
                    <td class="td-center"></td>
                </tr></table>
            </h1>
        </div>
{% block content %}
    <div class="content container">
        <p class="emphase">
			Welcome to IPT connect. This website hosts the results of the successive editions of the <a href="http://iptnet.info">International Physicists' Tournamenent</a>.
		</p>
        <p class="emphase">
			<a href="http://connect.iptnet.info/IPT2016">Results of IPT 2016</a>
		</p>
        <p class="emphase">
			<a href="http://connect.iptnet.info/FPT2017">Results of FPT 2017</a>
		</p>
		<p class="emphase">
		<br>
		<br>
			<a href="http://connect.iptnet.info/admin">Control panel</a>
		</p>
    </div>

	
{% endblock %}
</body>
</html>