{% extends 'IPT2018/head.html' %}
{% load staticfiles %}
{% block content %}

    <div class="section">
        <h1>A little bit of patience</h1>
    </div>

    <div>
        <center>
        <h1>Processing the grades...</h1>
        </center>
    </div>

	<div class="content container">
	<table style="width:100%">
  <tr>
  <!--<img src="{% static 'IPT2018/IPT_logo.png' %}" alt="IPT 2018" style="width:50px;height:50px;" width="500"></td>-->
    <td>
       <a href="http://blueballfixed.ytmnd.com/"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"></a>

    </td>
  </tr>

</table>
    </div>


{% endblock content %}
