{% extends 'IPT2018/head.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>Jury overview</h1>
    </div>

    <div class="content container">
        <p class="emphase">Click on the names for detailed statistics. Click on the headers to sort the table.</p>
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <th class="th-center">Mean Report grade</th>
                <th class="th-center">Mean Opposition grade</th>
                <th class="th-center">Mean Review grade</th>
            </tr>
        {% for jury in jurys %}
            <tr>
                <td class="td-center"><a href="{% url 'IPT2018:jury_detail' pk=jury.pk %}">{{jury.name}} {{jury.surname}}</a></td>
                <td class="td-center">{{jury.meanrepgrade|floatformat:2}}</td>
                <td class="td-center">{{jury.meanoppgrade|floatformat:2}}</td>
                <td class="td-center">{{jury.meanrevgrade|floatformat:2}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock content %}
