{% extends 'IPT2018/head.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>Rounds overview</h1>
    </div>

    <div class="content container">
        <p class="emphase">Click on a Round to get a detailed summary. Click on a Physics Fight to get a summarized view of all the corresponding Rounds.</p>
    </div>

    <div class="content container">
        <table class="table-borders">
            <tr>
                <th class="th-center"><a href="{% url 'IPT2018:physics_fight_detail' pfid=1 %}">Physics Fight 1</a></th>
                <th class="th-center"><a href="{% url 'IPT2018:physics_fight_detail' pfid=2 %}">Physics Fight 2</a></th>
                <th class="th-center"><a href="{% url 'IPT2018:physics_fight_detail' pfid=3 %}">Physics Fight 3</a></th>
                <th class="th-center"><a href="{% url 'IPT2018:physics_fight_detail' pfid=4 %}">Physics Fight 4</a></th>
            </tr>

            {% for thisroom in orderedroundsperroom %}
            <tr>
                <td class="td-border"><table><td class="td-center"><b>{{thisroom.0.0.room}}</b></td></table></td>
                {% for thispf in thisroom %}
                <td class="td-border">
                    <table>
                        {% for round in thispf%}
                        <td class="td-center"><a href="{% url 'IPT2018:round_detail' pk=round.pk %}">Round {{round.round_number}}</a></td>
                        {% endfor %}
                    </table>
                </td>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="content container">

        <table>
            <tr>
                <td></td>
                <td class="td-center"><p class="emphase">The Grand Finale</p></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-center"><a href="{% url 'IPT2018:finalround_detail' pk=82 %}">Round 1</a></td>
                <td class="td-center"><a href="{% url 'IPT2018:finalround_detail' pk=83 %}">Round 2</a></td>
                <td class="td-center"><a href="{% url 'IPT2018:finalround_detail' pk=84 %}">Round 3</a></td>

            </tr>
            <tr><td><p class="emphase"></p></td></tr>

        </table>
    </div>


   
{% endblock content %}
