h1, h2, h3, h4 {
    font-family: 'Bitter', cursive;
}

h3 {
    font-size: 12pt
}

body {
    background: #EFEFEF;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.topmenu {
    /*background-color: #25275D;*/
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    background: #26275D;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #26275D, #0684A0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #26275D, #0684A0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #26275D, #0684A0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #26275D, #0684A0);
    /* Standard syntax */
}

.topmenu h1, .topmenu h1 a, .topmenu h1 a:visited, .topmenu h1 a:active {
    color: #ffffff;
    font-size: 14pt;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

.page-header {
    background-color: #BDD4DE;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.section {
    background-color: #BDD4DE;
    margin-top: 5px;
    margin-right: 0px;
    padding: 5px 5px 5px 50px;
}

.section h1, .section h1 a, .section h1 a:visited, .section h1 a:active {
    color: #000000;
    font-size: 18pt;
}

.comment {
    font-size: 80%
}

.emphase {
    font-size: 125%
}

.content * {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px margin-left: 40px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 0px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.table-borders {
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: black;*/
}

.th-center, .th-center a {
    text-align: center;
    padding: 8px;
    color: #EFEFEF;
    /*font-style: light;*/
    /*font-size: 120%;*/
    font-weight: 300;
}

.td-center {
    text-align: center;
    padding: 8px;
}

.td-border {
    /*border-width: 1px;
	border-style: solid;
	border-color: black;*/
}

.th {
    text-align: left;
    padding: 8px;
    color: #EFEFEF;
    font-weight: 300;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #BDD4DE
}

th {
    background-color: #3F5765;
    color: white;
}
