{% extends 'head.html' %}
{% load humanize %}
{% block content %}


    {% for roundsgrades in roomgrades%}

    <div class="section">
        <h1>Physics Fight {{roomgrades.0.2.pf}} | Room {{roundsgrades.2.room}}</h1>
    </div>

    <div class="content container">
        <table class="table-borders">
            <tr>
                <th class="td-center"></th>
                {% for juryroundsgrade in roundsgrades.0.0.juryroundsgrades %}
                    <th class="td-center"><p> <a href="{% url 'round_detail' pk=juryroundsgrade.round.pk %}">Round {{juryroundsgrade.round.round_number}}</a></p> <a href="{% url 'problem_detail' pk=juryroundsgrade.round.problem_presented.pk %}">{{juryroundsgrade.round.problem_presented.name}}</a></th>
                {% endfor %}
            </tr>
            <tr>
                <th>Jury Member</th>
                {% for juryroundsgrade in roundsgrades.0.0.juryroundsgrades %}
                    <th>
                        <table>
                            <td class="td-center">Rep. (<a href="{% url 'team_detail' team_name=juryroundsgrade.round.reporter.team.name %}">{{juryroundsgrade.round.reporter.team.name}}</a>)</td>
                            <td class="td-center">Opp. (<a href="{% url 'team_detail' team_name=juryroundsgrade.round.opponent.team.name %}">{{juryroundsgrade.round.opponent.team.name}}</a>)</td>
                            <td class="td-center">Rev. (<a href="{% url 'team_detail' team_name=juryroundsgrade.round.reviewer.team.name %}">{{juryroundsgrade.round.reviewer.team.name}}</a>)</td>
                        </table>
                    </th>
                {% endfor %}
            </tr>
            {% for juryallgrade in roundsgrades.0 %}
            <tr>
                <td><a href="{% url 'jury_detail' pk=juryallgrade.juryroundsgrades.0.jury.pk %}">{{juryallgrade.name}}</a></td>
                {% for juryroundsgrade in juryallgrade.juryroundsgrades %}
                    <td>
                        <table>
                            <td class="td-center">{{juryroundsgrade.grade_reporter}}</td>
                            <td class="td-center">{{juryroundsgrade.grade_opponent}}</td>
                            <td class="td-center">{{juryroundsgrade.grade_reviewer}}</td>
                        </table>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}

            <tr>
                <td><p class="emphase">MEAN*</p></td>
                {% for meanroundsgrade in roundsgrades.1 %}
                    <td>
                        <table>
                            {% for meangrade in meanroundsgrade%}
                            <td class="td-center"><p class="emphase">{{meangrade|floatformat:2}}</p></td>
                            {% endfor %}
                        </table>
                    </td>
                {% endfor %}
            </tr>

        </table>
    </div>


    {% endfor %}


{% endblock content %}