{% extends 'head.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>Selective Fights Ranking</h1>
    </div>

    <div class="content container">
        <table>
            <tr>
                <th class="td-center">Rank</th>
                <th class="td-center">Team</th>
                <th class="td-center">Points</th>
                <th class="td-center">Physics Fights Status</th>
            </tr>
        {% for team in rankteams %}
            <tr>
                {% if team.emphase %}
                <td class="td-center"><p class="emphase">{{team.rank|ordinal}}</p></td>
                <td class="td-center"><p class="emphase"><a href="{% url 'team_detail' team_name=team.name %}">{{team.name}}</a></p></td>
                <td class="td-center"><p class="emphase">{{team.points}}</p></td>
                <td class="td-center">
                    {% if team.ongoingpf %}
                        <p class="emphase"><b>{{team.currentpf|ordinal}}</b> fight ongoing</p>
                    {% else %}
                        <p class="emphase"><b>{{team.pfsplayed}}</b> fights completed</p>
                    {% endif %}

                {% else %}
                <td class="td-center">{{team.rank|ordinal}}</td>
                <td class="td-center"><a href="{% url 'team_detail' team_name=team.name %}">{{team.name}}</a></td>
                <td class="td-center">{{team.points}}</td>
                <td class="td-center">
                    {% if team.ongoingpf %}
                        <b>{{team.currentpf|ordinal}}</b> fight ongoing
                    {% else %}
                        <b>{{team.pfsplayed}}</b> fights completed
                    {% endif %}

                {% endif %}

                </td>
            </tr>
        {% endfor %}

        </table>
        <p class="emphase">The first three teams are qualified for the Final Physics Fight</p>
    </div>
{% endblock content %}
