{% extends 'head.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>{{team.name}}</h1>
    </div>

    <div class="content container">
        <h1> {{team.ranking.1|ordinal}} place, with {{team.points}} points.</h1>
    </div>


    <div class="content container">
        <p class="emphase"><b>Participants:
            </b></p>
        {% for participant in participants %}
            <div>
                <li><a href="{% url 'participant_detail' pk=participant.pk %}">{{participant.fullname}} gathered {{participant.points|floatformat:2}} points.</a></li>
            </div>
        {% endfor %}


        <p class="emphase"><b>Team-Leaders:</b></p>
        {% for teamleader in teamleaders %}
            <div>
                <li><a href="{% url 'jury_detail' pk=teamleader.pk %}">{{teamleader.name}}</a></li>
            </div>
        {% endfor %}
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="td-center">Problems presented</th>
                <th class="td-center">Grade</th>
                <th class="td-center">Role</th>
            </tr>
            {% for round in allrounds %}
                <tr>
                    <td class="td-center"><a href="{% url 'problem_detail' pk=round.problem_presented.pk %}">{{round.problem_presented}}</a></td>
                    <td class="td-center"><a href="{% url 'round_detail' pk=round.pk %}">{{round.mygrade|floatformat:2}}</a></td>
                    <td class="td-center">{{round.myrole}}</td>

                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="content container">
        {% if penalties %}
        <p class="emphase"><b>Penalties:</b></p>
            {% for p in penalties %}

            <li>Multiplicative coefficient of {{p.1}} for the Report in {{p.0|ordinal}} Round.</li>

            {% endfor %}
        {% endif %}

    </div>
{% endblock content %}