{% extends 'head.html' %}

{% block content %}
    <div class="page-header">
        <h1>Tournament Overview</h1>
    </div>

    <div class="section">
        <h1><a href="{% url 'rounds' %}">Rounds summary </a></h1>
    </div>

    <div class="content container">
        <table class="table-borders">
            <tr>
                <th></th>
                <th  class="th-center">Round 1</th>
                <th  class="th-center">Round 2</th>
                <th  class="th-center">Round 3</th>
                <th  class="th-center">Round 4</th>
            </tr>

            {% for thisroom in orderedpfsperroom %}
            <tr>
                <td class="td-border"><table><td class="td-center"><b>{{thisroom.0.0.room}}</b></td></table></td>
                {% for thispf in thisroom %}
                <td class="td-border">
                    <table>
                        {% for round in thispf%}
                        <td class="td-center"><a href="{% url 'round_detail' pk=round.pk %}">Round{{round.round_number}}</a></td>
                        {% endfor %}
                    </table>
                </td>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="section">
        <h1><a href="{% url 'teams' %}">Teams</a></h1>
    </div>

    <div class="content container">
        {% for team in teams %}
            <div>
                <p><a href="{% url 'team_detail' team_name=team.name %}">{{team.name}}</a> | {{team.points}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}