{% load i18n %}
<h1>{% trans 'Participants of' %} {{ params.NAME.short }}</h1>


{% trans 'Team' %};{% trans 'Affiliation' %};{% trans 'Role' %};{% trans 'Surname' %};{% trans 'Name' %};{% trans 'Passport number' %};{% trans 'Gender' %};{% trans 'Birthdate' %};{% trans 'Email' %};{% trans 'Phone number' %};{% trans 'Veteran' %};{% trans 'Diet' %};{% trans 'Mixed gender accomodation' %};{% trans 'Shirt size' %}; {% trans 'Remarks' %} <br><br>

{% for participant in participants %}

{{ participant.team }};{{ participant.affiliation }};{{ participant.role }};{{ participant.surname }};{{ participant.name }};{{ participant.passport_number }};{{ participant.gender }};{{ participant.birthdate }};{{ participant.email }};{{ participant.phone_number }};{{ participant.veteran }};{{ participant.diet }};{{ participant.mixed_gender_accommodation }};{{ participant.shirt_size }};{{ participant.remark }}<br>

{% empty %}

    <p>{% trans 'There is no registered participant' %}.</p>

{% endfor %}
