{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/FPT2017.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <script src="/static/js/sorttable.js"></script>
    <title>FPT 2017</title>
</head>
<body>
        <div class="topmenu">
            <h1>
                <table><tr>
                    <td class="td-center"><a href="{% url 'FPT2017:tournament_overview' %}">Home</a></td>
                    <td class="td-center"><a href="{% url 'FPT2017:rounds' %}">Physics Fights</a></td>
                    <td class="td-center"><a href="{% url 'FPT2017:ranking' %}">Ranking</a></td>
                    <td class="td-center"><a href="{% url 'FPT2017:problems_overview' %}">Problems</a></td>
                    <td class="td-center"><a href="{% url 'FPT2017:participants_overview' %}">Participants</a></td>
                    <td class="td-center"><a href="{% url 'FPT2017:jurys_overview' %}">Jurys</a></td>

                </tr></table>
            </h1>
        </div>
{% block content %}
{% endblock %}
</body>
</html>
