{% extends 'FPT2017/head.html' %}
{% load humanize %}

{% block content %}




    <div class="section">
        <h1>{{problem.name}}</h1>
    </div>

    <div class="content container">
        <div>
            <p>{{problem.description}}</p>
        </div>
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th></th>
                <th>Report</th>
                <th>Opposition</th>
                <th>Review</th>
            </tr>

            {% for teamresult in teamresults %}
                <tr>
                    <td><a href="{% url 'FPT2017:team_detail' team_name=teamresult.name %}">{{teamresult.name}}</a></td>
                    <td>
                    {% for report in teamresult.reports%}
                        <p><a href="{% url 'FPT2017:round_detail' pk=report.round.pk %}">{{report.value|floatformat:2}}</a></p>
                    {% endfor %}
                    </td>
                    <td>
                    {% for opposition in teamresult.oppositions%}
                        <p><a href="{% url 'FPT2017:round_detail' pk=opposition.round.pk %}">{{opposition.value|floatformat:2}}</a></p>
                    {% endfor %}
                    </td>
                    <td>
                    {% for review in teamresult.reviews%}
                        <p><a href="{% url 'FPT2017:round_detail' pk=review.round.pk %}">{{review.value|floatformat:2}}</a></p>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}

        </table>
        <table>
            {% if meangrades %}
            <tr>
                <td><p class="emphase">MEAN</p></td>
                <td><p class="emphase">{{meangrades.report|floatformat:2}}</p></td>
                <td><p class="emphase">{{meangrades.opposition|floatformat:2}}</p></td>
                <td><p class="emphase">{{meangrades.review|floatformat:2}}</p></td>
            </tr>
            {% endif %}

        </table>
    </div>


{% endblock content %}
