{% extends 'FPT2017/head.html' %}
{% load humanize %}
{% block content %}
{# for round in round #}
<div class="section">
    <h1>{{round}}</h1>
</div>

{% if started %}
<div class="content container">
    <table>
        <tr>
            <th class="th-center"></th>
            <th class="th-center">Reporter</th>
            <th class="th-center">Opponent</th>
            <th class="th-center">Reviewer</th>
        </tr>

        {% if finished %}
        <tr>
            <td class="td-center"></td>
            <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.reporter_team.name %}">{{round.reporter_team.name}}</a> -- <a href="{% url 'FPT2017:participant_detail' pk=round.reporter.pk %}">{{round.reporter.fullname}}</a></td>
            <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.opponent_team.name %}">{{round.opponent_team.name}}</a> -- <a href="{% url 'FPT2017:participant_detail' pk=round.opponent.pk %}">{{round.opponent.fullname}}</a></td>
            <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.reviewer_team.name %}">{{round.reviewer_team.name}}</a> -- <a href="{% url 'FPT2017:participant_detail' pk=round.reviewer.pk %}">{{round.reviewer.fullname}}</a></td>
        </tr>

        {% else %}
        <tr>
            <td class="td-center"></td>
            <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.reporter_team.name %}">{{round.reporter_team.name}}</a></td>
            <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.opponent_team.name %}">{{round.opponent_team.name}}</a></td>
            <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.reviewer_team.name %}">{{round.reviewer_team.name}}</a></td>
        </tr>
        {% endif %}


    </table>
</div>

<div class="content container">
    <h2>Problème(s) bloqué(s):</h2>

    {% if round.unavailable_problems.number_of_unavailable_problems > 0 %}
    {% if round.unavailable_problems.presented_this_pf %}
    {% for problem in round.unavailable_problems.presented_this_pf %}
    <li><a href="{% url 'FPT2017:problem_detail' pk=problem.pk %}">{{problem.name}}</a> a déjà été présenté dans ce Physics Fight</li>
    {% endfor %}
    {% endif %}
    {% if round.unavailable_problems.eternal_rejection %} {% for problem in round.unavailable_problems.eternal_rejection %}
    <li><a href="{% url 'FPT2017:problem_detail' pk=problem.pk %}">{{problem.name}}</a> a été rejeté de façon permanente</li>
    {% endfor %} {% endif %} {% if round.unavailable_problems.presented_by_reporter %} {% for problem in round.unavailable_problems.presented_by_reporter %}
    <li><a href="{% url 'FPT2017:problem_detail' pk=problem.pk %}">{{problem.name}}</a> a été présenté plus tôt par le Reporter</li>
    {% endfor %} {% endif %} {% if round.unavailable_problems.opposed_by_opponent %} {% for problem in round.unavailable_problems.opposed_by_opponent %}
    <li><a href="{% url 'FPT2017:problem_detail' pk=problem.pk %}">{{problem.name}}</a> a été opposé plus tôt par l'Opponent</li>
    {% endfor %} {% endif %} {% if round.unavailable_problems.presented_by_opponent %} {% for problem in round.unavailable_problems.presented_by_opponent %}
    <li><a href="{% url 'FPT2017:problem_detail' pk=problem.pk %}">{{problem.name}}</a> a été présenté plus tôt par l'Opponent</li>
    {% endfor %} {% endif %}
    {% else %}
    <p>Pas de problème bloqué.</p>
     {% endif %}
</div>
{% endif %}




{% if finished %}

<div class="content container">
    <h2>Problème présenté: <a href="{% url 'FPT2017:problem_detail' pk=round.problem_presented.pk %}">{{round.problem_presented.name}}</a> </h2>

</div>

<div class="content container">
    <table>
        <tr>
            <th class="th-center">Jurés</th>
            <th class="th-center">Note du Reporter</th>
            <th class="th-center">Note de l'Opponent</th>
            <th class="th-center">Note du Reviewer</th>
        </tr>

        {% for jurygrade in jurygrades %}
        <tr>
            <td><a href="{% url 'FPT2017:jury_detail' pk=jurygrade.jury.pk %}">{{jurygrade.jury.name}} {{jurygrade.jury.surname}}</a></td>
            <td class="td-center">{{jurygrade.grade_reporter|floatformat:2}}</td>
            <td class="td-center">{{jurygrade.grade_opponent|floatformat:2}}</td>
            <td class="td-center">{{jurygrade.grade_reviewer|floatformat:2}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>
                <p class="emphase">Moyenne*</p>
            </td>
            {% for meangrade in meangrades %}
            <td class="td-center">
                <p class="emphase">{{meangrade|floatformat:2}}</p>
            </td>
            {% endfor %}
        </tr>

    </table>
</div>

<div class="content container">
    <p class="comment">*La moins bonne note n'est pas prise en compte; et s'il y a sept jurés ou plus, la plus haute note non plus. Ici les coefficients multiplicatifs liés aux rôles (3,2 et 1) ne sont pas pris en compte.</p>
</div>



<div class="content container">
    <h2>Rejets</h2>

    <div class="content container">
        <h3>Rejets temporaires:</h3> {% for tacticalrejection in tacticalrejections %}
        <li><a href="{% url 'FPT2017:problem_detail' pk=tacticalrejection.problem.pk %}">{{tacticalrejection.problem.name}}</a></li>
        {% empty %}
        <p>Pas de rejet temporaire</p>
        {% endfor %}
    </div>

    <div class="content container">
        <h3>Rejet permanent:</h3> {% for eternalrejection in eternalrejection %}
        <!-- <div class="content container"> -->
        <li><a href="{% url 'FPT2017:problem_detail' pk=eternalrejection.problem.pk %}">{{eternalrejection.problem.name}}</a></li>
        <!-- </div> -->
        {% empty %}
        <!-- <div class="content container"> -->
        <p>Pas de rejet permanent</p>
        <!-- </div> -->
        {% endfor %}
    </div>

</div>
{% endif %}

<!-- <div class="content container">
    <h2>Statut et problèmes</h2> {% if started %} {% if not finished %}

    <div class="content container">
        <table>
            <tr>
                <th class="th-center">Reporter</th>
                <th class="th-center">Opponent</th>
                <th class="th-center">Reviewer</th>
            </tr>

            <tr>
                <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.reporter_team.name %}">{{round.reporter_team.name}}</a></td>
                <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.opponent_team.name %}">{{round.opponent_team.name}}</a></td>
                <td class="td-center"><a href="{% url 'FPT2017:team_detail' team_name=round.reviewer_team.name %}">{{round.reviewer_team.name}}</a></td>
            </tr>

        </table>
    </div>
    {% endif %}


    {% else %}
        <div class="content container">
            <p>Cette ronde n'est pas encore démarrée !</p>
        </div>
    </div>
</div>

{% endif %} -->
{# endfor #}
{% endblock content %}
