{% extends 'FPT2017/head.html' %}

{% block content %}

    <div class="section">
        <h1>Welcome !</h1>
    </div>

    <div class="content container">
        <p class="emphase">This site regroups all the informations relative to the FPT2017 scores: grading, points distribution, statistics and many more !</p>

        <p class="emphase">Most of the displayed element can be clicked on. You can access teams, individual participant or jury member statistics, as well as details of each rounds, physics fights and presented problem. Each page is updated every 5 minutes.</p>

        <p class="emphase">If you see anything suspicious (this is still testing phase), please email it at webmaster(at)iptnet.info.</p>

    </div>


{% endblock content %}
