{% extends 'IPT2017/head.html' %}
{% load staticfiles %}
{% block content %}

    <div class="section">
        <h1>A little bit of patience</h1>
    </div>

	<div class="content container">
	<table style="width:100%">
  <tr>
  <td><img src="{% static 'IPT2017/IPT_logo.png' %}" alt="IPT 2017" style="width:50px;height:50px;" width="500"></td>
    <td>
        <p class="emphase">Come back later to discover the wonders of the IPT-connect interface!</p>

    </td>

  </tr>

</table>
    </div>


{% endblock content %}
