{% extends 'IPT2017/head.html' %}

{% block content %}

    <div class="section">
        <h1>{{jury.name}} {{jury.surname}}</h1>
    </div>

    <div class="content container">
        {% if jury.team %}
            <li class="emphase">Team Leader of {{jury.team.name}}</li>
        {% else %}
            {% if jury.affiliation %}
            <li class="emphase">External jury member - {{jury.affiliation}}</li>
            {% else %}
            <li class="emphase">External jury member</li>
            {% endif %}
        {% endif %}

    </div>

    <div class="content container">

        <table class="sortable">
            <tr>
                <th class="th-center">Problems graded</th>
                <th class="th-center">Report grade</th>
                <th class="th-center">Opposition grade</th>
                <th class="th-center">Review grade</th>
            </tr>
            {% for grade in grades %}
                <tr>
                    <td class="td-center"><a href="{% url 'IPT2017:problem_detail' pk=grade.round.problem_presented.pk %}">{{grade.round.problem_presented}}</a></td>
                    <td class="td-center"><a href="{% url 'IPT2017:round_detail' pk=grade.round.pk %}">{{grade.grade_reporter}} ({{grade.round.reporter_team.name}})</a></td>
                    <td class="td-center"><a href="{% url 'IPT2017:round_detail' pk=grade.round.pk %}">{{grade.grade_opponent}} ({{grade.round.opponent_team.name}})</a></td>
                    <td class="td-center"><a href="{% url 'IPT2017:round_detail' pk=grade.round.pk %}">{{grade.grade_reviewer}} ({{grade.round.reviewer_team.name}})</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>


{% endblock content %}
