{% extends 'IPT2017/head.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>Aperçu des jurés</h1>
    </div>

    <div class="content container">
        <p class="emphase">Cliquez sur les noms pour accéder à des statistiques plus détaillées. Cliquez sur les en-têtes des colonnes pour trier le tableau.</p>
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="th-center">Nom</th>
                <th class="th-center">Note moyenne pour le Reporter</th>
                <th class="th-center">Note moyenne pour l'Opponent</th>
                <th class="th-center">Note moyenne pour le Reviewer</th>
            </tr>
        {% for jury in jurys %}
            <tr>
                <td class="td-center"><a href="{% url 'IPT2017:jury_detail' pk=jury.pk %}">{{jury.name}} {{jury.surname}}</a></td>
                <td class="td-center">{{jury.meanrepgrade|floatformat:2}}</td>
                <td class="td-center">{{jury.meanoppgrade|floatformat:2}}</td>
                <td class="td-center">{{jury.meanrevgrade|floatformat:2}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock content %}
