{% extends 'IPT2017/head.html' %} {% load humanize %} {% block content %} {% if roomgrades %} {% for roundsgrades in roomgrades%}

<div class="section">
    <h1>Physics Fight {{roomgrades.0.2.pf}} | Room {{roundsgrades.2.room}}</h1>
</div>


{% if roundsgrades.0.0.juryroundsgrades %}

<div class="content container">
    <table class="table-borders">
        <tr >
            <th class="th-center" width=25%></th>
            {% for juryroundsgrade in roundsgrades.0.0.juryroundsgrades %}
            <th class="th-center">
                <p> <a href="{% url 'IPT2017:round_detail' pk=juryroundsgrade.round.pk %}">Round {{juryroundsgrade.round.round_number}}</a></p> <a href="{% url 'IPT2017:problem_detail' pk=juryroundsgrade.round.problem_presented.pk %}">{{juryroundsgrade.round.problem_presented.name}}</a></th>
            {% endfor %}
        </tr>
        <tr>
            <th class="th">Jurés</th>
            {% for juryroundsgrade in roundsgrades.0.0.juryroundsgrades %}
            <th>
                <table>
                    <td class="th-center">Rep. (<a href="{% url 'IPT2017:team_detail' team_name=juryroundsgrade.round.reporter.team.name %}">{{juryroundsgrade.round.reporter.team.name}}</a>)</td>
                    <td class="th-center">Opp. (<a href="{% url 'IPT2017:team_detail' team_name=juryroundsgrade.round.opponent.team.name %}">{{juryroundsgrade.round.opponent.team.name}}</a>)</td>
                    <td class="th-center">Rev. (<a href="{% url 'IPT2017:team_detail' team_name=juryroundsgrade.round.reviewer.team.name %}">{{juryroundsgrade.round.reviewer.team.name}}</a>)</td>
                </table>
            </th>
            {% endfor %}
        </tr>
        {% for juryallgrade in roundsgrades.0 %}
        <tr>
            <td><a href="{% url 'IPT2017:jury_detail' pk=juryallgrade.juryroundsgrades.0.jury.pk %}">{{juryallgrade.name}}</a></td>
            {% for juryroundsgrade in juryallgrade.juryroundsgrades %}
            <td>
                <table>
                    <td class="td-center">{{juryroundsgrade.grade_reporter}}</td>
                    <td class="td-center">{{juryroundsgrade.grade_opponent}}</td>
                    <td class="td-center">{{juryroundsgrade.grade_reviewer}}</td>
                </table>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr>
            <td>
                <p class="emphase">MEAN*</p>
            </td>
            {% for meanroundsgrade in roundsgrades.1 %} {% if meanroundsgrade %}
            <td>
                <table>
                    {% for meangrade in meanroundsgrade %}
                    <td class="td-center">
                        <p class="emphase">{{meangrade|floatformat:2}}</p>
                    </td>
                    {% endfor %}
                </table>
            </td>
            {% endif %} {% endfor %}
        </tr>

    </table>
</div>

<div class="content container">
    <p class="comment">*The lowest and highest grade(s) might be discarded according to the number of jury members.</p>
</div>

{% else %}
<div class="content container">
    <p class="emphase">No grade registered so far !</p>
</div>

{% endif %} {% endfor %} {% else %}

<div class="content container">
    <p class="emphase">No round played so far !</p>
</div>

{% endif %} {% endblock content %}
