{% extends 'IPT2017/head.html' %}

{% block content %}

    <div class="section">
        <h1>Problems overview</h1>
    </div>

    <div class="content container">
        <p class="emphase">Click on the problem names for detailed statistics. Click on the headers to sort the table.</p>
    </div>

    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <th class="th-center"># of presentations</th>
                <th class="th-center">Mean Report grade</th>
                <th class="th-center">Mean Opposition grade</th>
                <th class="th-center">Mean Review grade</th>
            </tr>
        {% for problem in problems %}
            <tr>
                <td class="td-center"><a href="{% url 'IPT2017:problem_detail' pk=problem.pk %}">{{problem.name}}</a></td>
                <td class="td-center">{{problem.npres}}</td>
                <td class="td-center">{{problem.meangradrep|floatformat:2}}</td>
                <td class="td-center">{{problem.meangradopp|floatformat:2}}</td>
                <td class="td-center">{{problem.meangradrev|floatformat:2}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>


{% endblock content %}
