{% extends 'IPT2017/head.html' %} {% load humanize %} {% block content %}

<div class="section">
    <h1>{{team.name}}</h1>
</div>

<div class="content container">
    <h1> {{team.rank|ordinal}} avec {{team.total_points|floatformat:2}} points.</h1>
</div>


<div class="content container">
    <h2>Participants:
    </h2> {% for participant in participants %}
    <div>
        <li><a href="{% url 'IPT2017:participant_detail' pk=participant.pk %}">{{participant.fullname}} a rapporté {{participant.total_points|floatformat:2}} points.</a></li>
    </div>
    {% endfor %}


    <h2>Team-Leaders:</h2> {% for teamleader in teamleaders %}
    <div>
        <li><a href="{% url 'IPT2017:jury_detail' pk=teamleader.pk %}">{{teamleader.name}} {{teamleader.surname}}</a></li>
    </div>
    {% endfor %}
</div>


<div class="content container">
    <table class="sortable">
        <tr>
            <th class="th-center">Problèmes présentés</th>
            <th class="th-center">Note</th>
            <th class="th-center">Rôle</th>
        </tr>
        {% for round in allrounds %}
        <tr>
            <td class="td-center"><a href="{% url 'IPT2017:problem_detail' pk=round.problem_presented.pk %}">{{round.problem_presented}}</a></td>
            <td class="td-center"><a href="{% url 'IPT2017:round_detail' pk=round.pk %}">{{round.mygrade|floatformat:2}}</a></td>
            <td class="td-center">{{round.myrole}}</td>

        </tr>
        {% endfor %}

    </table>
</div>

<div class="content container">
    {% if penalties %}
    <h3>Pénalités:</h3>
    {% for p in penalties %}

    <li>Coefficient multiplicatif de {{p.1}} pour le Reporter dans le {{p.0|ordinal}} Physics Fight.</li>

    {% endfor %} {% endif %}

</div>
{% endblock content %}
