{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'FPT2017/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">    <script src="/static/js/sorttable.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'FPT2017/IPT_logo.png' %}" />
    <title>IPT 2016</title>
</head>
<body>
        <div class="topmenu">
            <h1>
                <table><tr>
				    <td style="width:75px"><a href="//iptnet.info"><img src="{% static 'IPT_logo.png' %}" alt="FPT 2017" style="width:50px;height:50px;"></a></td>
                    <td class="td-center" style="width:250px;text-align:left"><a href="//connect.iptnet.info">IPT connect | </a><a href="{% url 'FPT2017:tournament_overview' %}">IPT 2016</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:tournament_overview' %}">Home</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:rounds' %}">Physics Fights</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:ranking' %}">Ranking</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:problems_overview' %}">Problems</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:participants_overview' %}">Participants</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:jurys_overview' %}">Jurys</a></td>

                </tr></table>
            </h1>
        </div>
{% block content %}
{% endblock %}
</body>
</html>