{% extends 'IPT2016/head.html' %}
{% load humanize %}

{% block content %}
{% for round in round %}


    {% if finished %}
        <div class="section">
            <h1>{{round}}</h1>
        </div>

        <div class="content container">
            <p class="emphase">Problem presented: <a href="{% url 'IPT2016:problem_detail' pk=round.problem_presented.pk %}">{{round.problem_presented.name}}</a></p>
        </div>


        <div class="content container">
            <table>
                <tr>
                    <th class="td-center"></th>
                    <th class="td-center">Reporter</th>
                    <th class="td-center">Opponent</th>
                    <th class="td-center">Reviewer</th>
                </tr>

                <tr>
                    <td class="td-center"></td>
                    <td class="td-center"><a href="{% url 'IPT2016:team_detail' team_name=round.reporter.team.name %}">{{round.reporter.team.name}}</a> -- <a href="{% url 'IPT2016:participant_detail' pk=round.reporter.pk %}">{{round.reporter.fullname}}</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:team_detail' team_name=round.opponent.team.name %}">{{round.opponent.team.name}}</a> -- <a href="{% url 'IPT2016:participant_detail' pk=round.opponent.pk %}">{{round.opponent.fullname}}</a></td>
                    <td class="td-center"><a href="{% url 'IPT2016:team_detail' team_name=round.reviewer.team.name %}">{{round.reviewer.team.name}}</a> -- <a href="{% url 'IPT2016:participant_detail' pk=round.reviewer.pk %}">{{round.reviewer.fullname}}</a></td>
                </tr>

            </table>
        </div>


        <div class="content container">
            <table>
                <tr>
                    <th>Jury member</th>
                    <th class="td-center">Grade Reporter</th>
                    <th class="td-center">Grade Opponent</th>
                    <th class="td-center">Grade Reviewer</th>
                </tr>

                {% for jurygrade in jurygrades %}
                    <tr>
                        <td><a href="{% url 'IPT2016:jury_detail' pk=jurygrade.jury.pk %}">{{jurygrade.jury.name}}</a></td>
                        <td class="td-center">{{jurygrade.grade_reporter|floatformat:2}}</td>
                        <td class="td-center">{{jurygrade.grade_opponent|floatformat:2}}</td>
                        <td class="td-center">{{jurygrade.grade_reviewer|floatformat:2}}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td><p class="emphase">MEAN*</p></td>
                    {% for meangrade in meangrades %}
                    <td class="td-center"><p class="emphase">{{meangrade|floatformat:2}}</p></td>
                    {% endfor %}
                </tr>

            </table>
        </div>

        <div class="content container">
            <p class="comment">*Best(s) and worst(s) grade(s) are removed from the mean according to the number of jury members. The multiplicative role coefficient is not taken into account here.</p>
        </div>



        <div class="content container">

            {% if tacticalrejections.count > 0 %}
            <p>Tactical rejections:</p>
            {% endif %}
            {% for tacticalrejection in tacticalrejections %}
            <li><a href="{% url 'IPT2016:problem_detail' pk=tacticalrejection.problem.pk %}">{{tacticalrejection.problem.name}}</a></li>
            {% empty %}
            <p>No Tactical Rejections</p>
            {% endfor %}
        </div>

        {% for eternalrejection in eternalrejection %}
        <div class="content container">
            <p>Eternal rejection:</p>
            <li><a href="{% url 'IPT2016:problem_detail' pk=eternalrejection.problem.pk %}">{{eternalrejection.problem.name}}</a></li>
        </div>
        {% empty %}
        <div class="content container">
            <p>No Eternal Rejection</p>
        </div>
        {% endfor %}

    {% endif %}

    {% if started %}

        {% if not finished %}
            <div class="section">
                <h1>{{round}}</h1>
            </div>
            <div class="content container">
                <table>
                    <tr>
                       
                         <th class="td-center">Reporter</th>
                         <th class="td-center">Opponent</th>
                         <th class="td-center">Reviewer</th>
                    </tr>

                    <tr>

                         <td class="td-center"><a href="{% url 'IPT2016:team_detail' team_name=round.reporter_team.name %}">{{round.reporter_team.name}}</a></td>
                         <td class="td-center"><a href="{% url 'IPT2016:team_detail' team_name=round.opponent_team.name %}">{{round.opponent_team.name}}</a></td>
                         <td class="td-center"><a href="{% url 'IPT2016:team_detail' team_name=round.reviewer_team.name %}">{{round.reviewer_team.name}}</a></td>
                     </tr>

                 </table>
           </div>
        {% endif %}

        <div class="content container">
            {% if round.unavailable_problems %}
                <p class="emphase">Unavailable problems:</p>

                {% if round.unavailable_problems.presented_this_pf %}
                    {% for problem in round.unavailable_problems.presented_this_pf %}
                        <li><a href="{% url 'IPT2016:problem_detail' pk=problem.pk %}">{{problem.name}}</a> has already been presented in this fight</li>
                    {% endfor %}
                {% endif %}

                {% if round.unavailable_problems.eternal_rejection %}
                    {% for problem in round.unavailable_problems.eternal_rejection %}
                        <li><a href="{% url 'IPT2016:problem_detail' pk=problem.pk %}">{{problem.name}}</a> has been eternally rejected</li>
                    {% endfor %}
                {% endif %}

                {% if round.unavailable_problems.presented_by_reporter %}
                    {% for problem in round.unavailable_problems.presented_by_reporter %}
                        <li><a href="{% url 'IPT2016:problem_detail' pk=problem.pk %}">{{problem.name}}</a> has been presented earlier by the Reporter</li>
                    {% endfor %}
                {% endif %}

                {% if round.unavailable_problems.opposed_by_opponent %}
                    {% for problem in round.unavailable_problems.opposed_by_opponent %}
                        <li><a href="{% url 'IPT2016:problem_detail' pk=problem.pk %}">{{problem.name}}</a> has been opposed earlier by the Opponent</li>
                    {% endfor %}
                {% endif %}

                {% if round.unavailable_problems.presented_by_opponent %}
                    {% for problem in round.unavailable_problems.presented_by_opponent %}
                        <li><a href="{% url 'IPT2016:problem_detail' pk=problem.pk %}">{{problem.name}}</a> has been presented earlier by the Opponent</li>
                    {% endfor %}
                {% endif %}


            {% endif %}
        </div>
    {% else %}
        <div class="section">
            <h1>{{round}}</h1>
        </div>

        <div class="content container">
            <p>This round has not started yet !</p>
        </div>
    {% endif %}


{% endfor %}
{% endblock content %}
