{% extends params.instance_name|add:'/head.html' %}
{% load staticfiles %}
{% load i18n %}
{% load solo_tags %}

{% block content %}

{% get_solo params.instance_name|add:'.SiteConfiguration' as site_config %}

    <div class="section">
        <h1>{% trans 'A little bit of patience' %}</h1>
    </div>

    <div>
        <center>
        <h1>{% trans 'Processing the grades...' %}</h1>
        </center>
    </div>

	<div class="content container">
	<table style="width:100%">
  <tr>
    <td>
      <!--
      TODO: should we have this on our own server?
      -->
      <a href="{{ site_config.image_link_URL }}">
        {% for i in ""|rjust:site_config.image_repeat_count %}
          <img src = "{{ site_config.image_URL }}">
        {% endfor %}
      </a>
    </td>
  </tr>

</table>
    </div>


{% endblock content %}
