{% extends 'IPTdev/head.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}
    <div class="content container">
        <center>
            <form action="build_tactics" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="{% trans 'Build tactics!' %}" />
            </form>
        </center>
    </div>

    {% if tactics %}
        <h1 class="section">
            {% trans 'Problems forbidden:' %}
        </h1>
        <div class="content container">
           {% include 'IPTdev/includes/list_problems_with_remarks.html' with problems=tactics.0 %}
        </div>
        <h1 class="section">
            {% trans 'Problems available:' %}
        </h1>
        <div class="content container">
           {% include 'IPTdev/includes/list_problems_with_remarks.html' with problems=tactics.1 %}
        </div>
    {% endif %}
{% endblock content %}
