{% extends 'IPTdev/head.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}
    <center>
        <form action="build_tactics" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans 'Build tactics!' %}" />
        </form>
    </center>

    {% if tactics %}
        <h1>
            {% trans 'Problems forbidden:' %}
        </h1>
       {% include 'IPTdev/includes/list_problems_with_remarks.html' with problems=tactics.0 %}
        <h1>
            {% trans 'Problems available:' %}
        </h1>
       {% include 'IPTdev/includes/list_problems_with_remarks.html' with problems=tactics.1 %}
    {% endif %}
{% endblock content %}
