{% extends params.instance_name|add:'/head.html' %}
{% load i18n %}

{% block content %}

<base target="_blank">

<div class="section">
    <h1>
        {% trans 'Chair\'s Manual' %}
    </h1>
</div>


<style>
    #chairs_manual_container a {
        text-decoration: underline;
    }
</style>

<div class="content container" id="chairs_manual_container">
    <p>
        {% trans 'Chairs must have access to ipt-connect to fill it out with the information about each round.' %}
        {% trans 'Info includes all presenters, all jurors and their grades, problems presented and rejected.' %}
        <b>
            {% trans 'ipt-connect is the main source of the fight info to be verified afterwards and used to resolve the issues.' %}
            {% trans 'So, pay attention to making all records in timely and accurate fashion.' %}
        </b>
        {% trans 'Links in this Manual are underlined and usually lead to appropriate pages for ' %}
        <b>
            {{params.instance_name}}</b>.
        {% trans 'If you are going to work with another tournament, switch to it somehow or don\'t lean onto the underlined links at all.' %}
    </p>

    <p>
        <i>
            {% trans 'There probaly is no public link to this page (at least at the top menu), so you should have obtained the link somehow :)' %}
        </i>
    </p>


    <h2>
        {% trans 'Signing in' %}
    </h2>
    {% trans 'The login page is probably located' %}
    <a href="/admin">
        here</a>.
    {% trans 'You should have obtained your credentials (the login and the password) from the Organizing Committee in advance.' %}
    {% trans 'Probably, the ones from the previous year/tournament (if any) are OK.' %}
    {% trans 'Also, you should be reminded to check the credentials.' %}
    {% trans 'If you haven\'t checked the ability to log in and the visibility of the touranment, just do it right now!' %}


    <h2>
        {% trans 'Before every fight' %}
    </h2>
    <i>
        {% trans '(including the first but probably not the Final)' %}
    </i>
    <ul>
        <li>
            <h3>
                {% trans 'Introduce ipt_connect to the participants' %}
            </h3>
            {% trans 'You should probably emphasize that ipt_connect is a Free Software.' %}
        </li>
        <li>
            <h3>
                {% trans 'Show how to use' %}
                <a href="{% url params.instance_name|add:':build_tactics'%}">
                    {% trans 'the Tactics Builder' %}
                </a>
            </h3>
            {% trans 'The link to it can be found' %}
            <a href="{% url params.instance_name|add:':tournament_overview' %}">
                {% trans 'on the main page' %}</a>.
            {% trans 'It looks like a good idea to use the Tactics Builder on the stage to obtain the list of permitted Problems.' %}
            {% trans 'It seems to make sense to present the Tactics Builder on the first fight, so that the participants will be able to use it between the first and the second fights.' %}
            {% trans 'All in all, our Tournament is about scientific discussions, and not about striking out digits on a sheet of paper fastly and precisely!' %}
        </li>
        <li>
            <h3>
                {% trans 'Encourage participants, team-leaders and jurors to double-check the results and share bugs and ideas' %}
            </h3>
        </li>
    </ul>
    <h2>
        {% trans 'After every fight' %}
    </h2>
    <i>
        {% trans '(that is, after all scores have been submitted and all rounds have been filled out)' %}
    </i>
    <ul>
        <li>
            <h3>
                {% trans 'Update all the scores, bonuses and ranks' %}
            </h3>
            <a href="{% url params.instance_name|add:':update_all'%}">
                {% trans 'The link on it' %}
            </a>
            {% trans 'can be found on the bottom of' %}
            <a href="{% url params.instance_name|add:':ranking'%}">
                {% trans 'Ranking' %}
            </a>
            and
            <a href="{% url params.instance_name|add:':poolranking'%}">
                {% trans 'Pool Ranking' %}
            </a>
            {% trans 'pages (the latter if the pools are enabled)' %}.
            {% trans 'You should have appropriate rights to run this tool (obviously, any superuser has).' %}
            {% trans 'Updating of the scores can take a few minutes, especially after the last fights.' %}
        </li>
        <li>
            <h3>
                {% trans 'Verify all the data' %}
            </h3>
            {% trans 'The verification report is located' %}
            <a href="{% url params.instance_name|add:':verify_all'%}">
                {% trans 'here' %}</a>.
            {% trans 'You should have the same rights to run this tool.' %}
            {% trans 'The tool covers many widespread errors (e.g. forgotten Problem presented), but don\'t lean onto it entirely; be careful!' %}
            {% trans 'In case of having any ideas to improve the tool, contact us.' %}
        </li>
    </ul>

    <h2>
        {% trans 'After the Final' %}
    </h2>
    <ul>
        <li>
            <h3>
                <a href="{% url params.instance_name|add:':update_all'%}">
                    {% trans 'Update all the grades' %}
                </a>
                {% trans '(just in case)' %}
            </h3>
        </li>
        <li>
            <h3>
                {% trans 'Double-check the Final grades' %}
            </h3>
        </li>
        <li>
            <h3>
                <a href="{% url params.instance_name|add:':verify_all'%}">
                    {% trans 'Verify all the grades' %}
                </a>
           </h3>
        </li>
        <li>
            <h3>
                {% trans 'If you want to hide the results, switch ipt_connect into maintenance mode via' %}
                <a href="/admin/{{params.instance_name}}/siteconfiguration/">
                    {% trans 'Site Configuration' %}</a>
                {% trans '("Only staff access").' %}
            </h3>
            {% trans 'Be careful: anybody who has an ipt_connect credentials can see the grades!' %}
            {% trans 'If ipt_connect is used for registration (which is not recommended),' %}
            {% trans 'all the Team Leaders have credentials and can see through The Blue Balls.' %}
            {% trans 'Then disable (probably without removal) the Team Leaders\' logins at' %}
            <a href="/admin/auth/user/">
                {% trans 'Users Admin Panel' %}</a>.
            {% trans '(You need appropriate rights to change Users; a superuser has them.)' %}
            <br/>
            TODO: images! Site Config and the result
        </li>
        <li>
            <h3>
                {% trans 'Enable "Display link to final on ranking page" and "Display final ranking on ranking page" checkboxes in' %}
                <a href="/admin/{{params.instance_name}}/siteconfiguration/">
                        {% trans 'Site Configuration' %}</a>
                {% trans 'if you wish.' %}
            </h3>
            TODO: images! Site Config and the result
        </li>
    </ul>
</div>

{% endblock content %}
