{% load i18n %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static params.instance_name|add:'/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">
    <script src="{% static params.instance_name|add:'/js/sorttable.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static params.instance_name|add:'/IPT_logo.png' %}" />
    <title>{{ params.NAME.full }}</title>
</head>
<body>
        <div class="topmenu">
            <div class="topmenu-wrap">
                <div>
                    <a href="//iptnet.info">
                    	<img src="{% static params.instance_name|add:'/IPT_logo.png' %}" alt="{{ params.NAME.full }}" class="logo-topmenu">
                    </a>
                    <a href="//connect.iptnet.info">IPT connect |</a>
                    {% if params.sister_tournaments %}
						<div class="dropdown">
							<span class="dropbtn" href="{% url params.instance_name|add:':tournament_overview' %}"> {{ params.NAME.short }}
							&nbsp;
							<svg width="12" height="8" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
								<!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
								<g class="layer">
									<path d="m6.82723,4.01144l-4.75259,-5.99496l3.12996,0l4.75259,5.99496l-4.75259,5.99496l-3.12996,0l4.75259,-5.99496z" fill="#ffffff" id="svg_3" stroke="#ffffff" stroke-width="0" transform="rotate(90, 6.01592, 4.01144)"/>
								</g>
							</svg>
							&nbsp;
							</span>
							<div class="dropdown-content">
								{% for tournament in params.sister_tournaments %}
									<a href="{{tournament.1}}{{sister_tournament_postfix}}">{{tournament.0}}</a>
								{% endfor %}
							</div>
						</div>
                    {% else %}
						<a href="{% url params.instance_name|add:':tournament_overview' %}">{{ params.NAME.short }}</a>
                    {% endif %}
                </div>
                <div>
                    <a href="{% url params.instance_name|add:':rounds' %}">{% trans 'Physics Fights' %}</a>
                </div>
                <div>
                    {% if params.enable_pools %}
						<a href="{% url params.instance_name|add:':poolranking' %}">{% trans 'Ranking' %}</a>
                    {% else %}
						<a href="{% url params.instance_name|add:':ranking' %}">{% trans 'Ranking' %}</a>
                    {% endif %}
                </div>
                <div>
                    <a href="{% url params.instance_name|add:':problems_overview' %}">{% trans 'Problems' %}</a>
                </div>
                <div>
                    <a href="{% url params.instance_name|add:':participants_overview' %}">{% trans 'Participants' %}</a>
                </div>
                <div>
                    <a href="{% url params.instance_name|add:':jurys_overview' %}">{% trans 'Jury members' %}</a>
                </div>
           </div>
        </div>
{% block content %}
{% endblock %}

<footer>
    &copy {{ params.NAME.full }}
    <!-- TODO: CSS margin -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{params.repo_url}}" target="_blank">
        <span>Fork us on GitHub!</span>
        <svg width="16" height="16" aria-labelledby="simpleicons-github-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-github-icon">GitHub icon</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
    </a>
</footer>
</body>
</html>
