{% extends params.instance_name|add:'/head.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}

{% for roundsgrades in roomgrades%}

    {% if roundsgrades.0.0.juryroundsgrades or not ignore_rooms %}
        <div class="section">
            <h1>
                {{fight_name}}
                {% if not ignore_rooms %}
                    | {% trans 'Room' %} {{roundsgrades.2.room}}
                {% endif %}
            </h1>
        </div>
    {% endif %}

    {% if roundsgrades.0.0.juryroundsgrades %}

        <div class="content container-fluid main-table">
            <table class="table-borders">
                <tr >
                    <th class="th-center" width=15%></th>
                    {% for juryroundsgrade in roundsgrades.0.0.juryroundsgrades %}
                        <th class="th-center">
                            <p>
                                <a href="{% url params.instance_name|add:':round_detail' pk=juryroundsgrade.round.pk %}">{% trans 'Round' %} {{juryroundsgrade.round.round_number}}</a>
                            </p>
                            {% if juryroundsgrade.round.problem_presented %}
                                <a href="{% url params.instance_name|add:':problem_detail' pk=juryroundsgrade.round.problem_presented.pk %}">{{juryroundsgrade.round.problem_presented.name}}</a>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="th">{% trans 'Jurés' %}</th>
                    {% for juryroundsgrade in roundsgrades.0.0.juryroundsgrades %}
                        <th>
                            <table>
                                <tr class="pf-detail-role-row">
                                    <td class="th-center">
                                        {% trans 'Rep.' %}
                                    </td>
                                    <td class="th-center">
                                        {% trans 'Opp.' %}
                                    </td>
									{% if juryroundsgrade.round.reviewer_team or not params.optional_reviewers %}
										<td class="th-center">
											{% trans 'Rev.' %}
										</td>
									{% endif %}
                                </tr>
								<tr class="pf-detail-team-row">
									<td class="th-center">
										{% if juryroundsgrade.round.reporter_team %}
											<a href="{% url params.instance_name|add:':team_detail' team_name=juryroundsgrade.round.reporter_team.name %}">{{juryroundsgrade.round.reporter_team.name}}</a>
										{% endif %}
									</td>
									<td class="th-center">
										{% if juryroundsgrade.round.opponent_team %}
											<a href="{% url params.instance_name|add:':team_detail' team_name=juryroundsgrade.round.opponent_team.name %}">{{juryroundsgrade.round.opponent_team.name}}</a>
										{% endif %}
									</td>
									{% if juryroundsgrade.round.reviewer_team or not params.optional_reviewers %}
										<td class="th-center">
											{% if juryroundsgrade.round.reviewer_team %}
												<a href="{% url params.instance_name|add:':team_detail' team_name=juryroundsgrade.round.reviewer_team.name %}">{{juryroundsgrade.round.reviewer_team.name}}</a>
											{% endif %}
										</td>
									{% endif %}
								</tr>
                            </table>
                        </th>
                    {% endfor %}
                </tr>
                {% for juryallgrade in roundsgrades.0 %}
                    <tr>
                        <td><a href="{% url params.instance_name|add:':jury_detail' pk=juryallgrade.juryroundsgrades.0.jury.pk %}">{{juryallgrade.name}}</a></td>
                        {% for juryroundsgrade in juryallgrade.juryroundsgrades %}
                            <td>
                                <table>
                                    <td class="td-center">{{juryroundsgrade.grade_reporter}}</td>
                                    <td class="td-center">{{juryroundsgrade.grade_opponent}}</td>
									{% if juryroundsgrade.round.reviewer_team or not params.optional_reviewers %}
										<td class="td-center">{{juryroundsgrade.grade_reviewer}}</td>
									{% endif %}
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <tr>
                    <td>
                        <p class="emphase">{% trans 'MEAN' %}*</p>
                    </td>
                    {% for meanroundsgrade in roundsgrades.1 %}
                        {% if meanroundsgrade %}
                            <td>
                                <table>
                                    {% for meangrade in meanroundsgrade %}
                                    <td class="td-center">
                                        <p class="emphase">{{meangrade|floatformat:2}}</p>
                                    </td>
                                    {% endfor %}
                                </table>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>

            </table>

            <p class="comment">*{% trans 'The lowest and highest grade(s) might be discarded according to the number of jury members.' %}</p>

            {% if params.display_pf_summary and roundsgrades.3 %}
                {% include params.instance_name|add:'/includes/summary.html' %}
            {% endif %}
    </div>

    {% elif not ignore_rooms %}
        <div class="content container">
            <p class="emphase">{% trans 'No grade registered so far !' %}</p>
        </div>
    {% endif %}

{% endfor %}

{% if no_round_played %}
    <div class="content container">
        <p class="emphase">{% trans 'No round played so far !' %}</p>
    </div>
{% endif %}


{% endblock content %}
