{% extends 'IPTdev/head.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}
  {% if not rankteamsA and not rankteamsB%}
    <div>
      <center>
      <h1>{% trans 'Teams are not registered or not distributed into pools' %}</h1>
      </center>
    </div>
  {% else %}
    {% include 'IPTdev/includes/final_ranking_and_link.html' %}
    
    {% include 'IPTdev/includes/semifinal_ranking.html' %}

      <div class="section">
          <h1>{% trans 'Ranking' %} - {% trans 'Pool A' %}</h1>
      </div>

      <div class="content container">
      {% include 'IPTdev/includes/ranking_table.html' with teams=rankteamsA display_pool=False %}
      </div>


    <div class="section">
          <h1>{% trans 'Ranking' %} - {% trans 'Pool B' %}</h1>
      </div>

      <div class="content container">
      {% include 'IPTdev/includes/ranking_table.html' with teams=rankteamsB display_pool=False %}
      </div>

      <div>
          <center>
          <h3><a href="{% url 'IPTdev:ranking' %}">{% trans 'General Ranking' %}</a></h3>
          </center>
      </div>

    {% if user.is_superuser %}
      <div>
        <center>
          <h3><a href = "{% url 'IPTdev:update_all' %}">{% trans 'Update all the scores (may take few minutes)' %}</a></h3>
        </center>
      </div>
    {% endif %}

  {% endif %}

{% endblock content %}
