{% extends params.instance_name|add:'/head.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}
  {% if not rankteamsA and not rankteamsB%}
    <div>
      <center>
      <h1>{% trans 'Teams are not registered or not distributed into pools' %}</h1>
      </center>
    </div>
  {% else %}
    {% include params.instance_name|add:'/includes/final_ranking_and_link.html' %}
    
    {% include params.instance_name|add:'/includes/semifinal_ranking.html' %}

      <div class="section">
          <h1>{% trans 'Ranking' %} - {% trans 'Pool A' %}</h1>
      </div>

      <div class="content container">
      {% include params.instance_name|add:'/includes/ranking_table.html' with teams=rankteamsA display_pool=False %}
      </div>


    <div class="section">
          <h1>{% trans 'Ranking' %} - {% trans 'Pool B' %}</h1>
      </div>

      <div class="content container">
      {% include params.instance_name|add:'/includes/ranking_table.html' with teams=rankteamsB display_pool=False %}
      </div>

      <div>
          <center>
          <h3><a href="{% url params.instance_name|add:':ranking' %}">{% trans 'General Ranking' %}</a></h3>
          </center>
      </div>

    {% include params.instance_name|add:'/includes/link_update_all_for_superuser.html' %}

  {% endif %}

{% endblock content %}
