{% extends 'IPTdev/head.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}


    <div class="section">
        <h1>{% trans 'Ranking' %} - {% trans 'Pool A' %}</h1>
    </div>

    <div class="content container">
		{% include 'IPTdev/includes/ranking_table.html' with teams=rankteamsA display_pool=False %}
    </div>


   <div class="section">
        <h1>{% trans 'Ranking' %} - {% trans 'Pool B' %}</h1>
    </div>

    <div class="content container">
		{% include 'IPTdev/includes/ranking_table.html' with teams=rankteamsB display_pool=False %}
    </div>

    <div>
        <center>
        <h3><a href="{% url 'IPTdev:ranking' %}">{% trans 'General Ranking' %}</a></h3>
        </center>
    </div>


{% endblock content %}
