{% extends params.instance_name|add:'/head.html' %}
{% load humanize %}
{% load i18n %}
{% block content %}
  
  {% if not rankteams %}
      <div>
        <center>
        <h1>{% trans 'No team registered yet' %}</h1>
        </center>
      </div>
  {% else %}  
    {% include params.instance_name|add:'/includes/final_ranking_and_link.html' %}

    {% include params.instance_name|add:'/includes/semifinal_ranking.html' %}
    
      <div class="section">
          <h1>{% trans 'Selective Fights Ranking' %}</h1>
      </div>

      <div class="content container">
      {% include params.instance_name|add:'/includes/ranking_table.html' with teams=rankteams %}
      </div>

      {% if params.enable_pools %}
      <div>
        <center>
        <h3><a href="{% url params.instance_name|add:':poolranking' %}">{% trans 'Pools Ranking' %}</a></h3>
        </center>
      </div>
      {% endif %}

    {% include params.instance_name|add:'/includes/link_update_all_for_superuser.html' %}

  {% endif %}

{% endblock content %}
