{% extends params.instance_name|add:'/head.html' %}
{% load humanize %}
{% load i18n %}
{% load solo_tags %}

{% block content %}

{% get_solo params.instance_name|add:'.SiteConfiguration' as site_config %}

<div class="section">
	<h1>
		{% block title %}
			{{ physics_fight_name }}
			{% if display_room_name %}
				| Room {{round.room}}
			{% endif %}
			| Round {{round.round_number}}
			{% if params.instance_name|add:'.change_round' in perms %}
				&emsp;
				<a
					href="../../../admin/{{ params.instance_name }}/round/{{ round.pk }}/change"
					class="stuff-only-link"
				>{% trans 'Edit' %}</a>
			{% endif %}
			{% if params.instance_name|add:'.add_round' in perms and round.can_add_next %}
				&emsp;<a href="{% url params.instance_name|add:':round_add_next' pk=round.pk %}" class="stuff-only-link">{% trans 'Add next' %}</a>
			{% endif %}
		{% endblock title %}
	</h1>
</div>

<!--
We are trying to display as much data as possible,
no matter is the round finished or not
-->

{% block roles_info %}
	{% if round.reporter_team and round.opponent_team %}
	{% if round.reviewer_team or params.optional_reviewers %}
	{# Thank Django for lacking complex conditions!!!! #}
		<div class="content container">
			<table>
				<tr>
					<th class="th-center"></th>
					<th class="th-center">{% trans 'Reporter' %}</th>
					<th class="th-center">{% trans 'Opponent' %}</th>
					{% if round.reviewer_team or not params.optional_reviewers %}
						<th class="th-center">{% trans 'Reviewer' %}</th>
					{% endif %}
				</tr>

				<tr>
					<td class="td-center"></td>
					<td class="td-center">
						<a href="{% url params.instance_name|add:':team_detail' team_name=round.reporter_team.name %}">{{round.reporter_team.name}}</a>
						{% if round.reporter %}
							--
							<a href="{% url params.instance_name|add:':participant_detail' pk=round.reporter.pk %}">{{round.reporter.fullname}}</a>
						{% endif %}
						{% if params.display_coreporters %}
							{% if round.reporter_2 %}
								{% if round.reporter %}
									and
								{% endif %}
								<a href="{% url params.instance_name|add:':participant_detail' pk=round.reporter_2.pk %}">{{round.reporter_2.fullname}}</a>
							{% endif %}
						{% endif %}
					</td>
					<td class="td-center">
						<a href="{% url params.instance_name|add:':team_detail' team_name=round.opponent_team.name %}">{{round.opponent_team.name}}</a>
						{% if round.opponent %}
							--
							<a href="{% url params.instance_name|add:':participant_detail' pk=round.opponent.pk %}">{{round.opponent.fullname}}</a>
						{% endif %}
					</td>
					{% if round.reviewer_team or not params.optional_reviewers %}
						<td class="td-center">
							<a href="{% url params.instance_name|add:':team_detail' team_name=round.reviewer_team.name %}">{{round.reviewer_team.name}}</a>
							{% if round.reviewer %}
								--
								<a href="{% url params.instance_name|add:':participant_detail' pk=round.reviewer.pk %}">{{round.reviewer.fullname}}</a>
							{% endif %}
						</td>
					{% endif %}
				</tr>
			</table>
		</div>
	{% endif %}
	{% endif %}
{% endblock roles_info %}


{% block problems_forbidden %}
	<!--
	We can speak about forbidden problems iff we know which teams are the reporter and the opponent
	-->
	{% if display_problems_forbidden and round.reporter_team and round.opponent_team %}
		<div class="content container">
			<h2>Problem(s) forbidden:</h2>
		{% include params.instance_name|add:'/includes/list_forbidden_problems.html' with forbidden_problems=unavailable_problems %}
		</div>
	{% endif %}
{% endblock problems_forbidden %}


{% block problem_presented %}
	{% if round.problem_presented %}
		<div class="content container">
			<h2>
				{% trans 'Problem presented' %}:
				<a href="{% url params.instance_name|add:':problem_detail' pk=round.problem_presented.pk %}">{{round.problem_presented.name}}</a>
			</h2>
		</div>
	{% endif %}
{% endblock problem_presented %}


{% block jurygrades %}
	{% if jurygrades and meangrades %}
		<div class="content container">
			<table>
				<tr>
					<th class="th-center">{% trans 'Jury members' %}</th>
					<th class="th-center">{% trans 'Reporter grade' %}</th>
					<th class="th-center">{% trans 'Opponent grade' %}</th>
					{% if round.reviewer_team or not params.optional_reviewers %}
						<th class="th-center">{% trans 'Reviewer grade' %}</th>
					{% endif %}
				</tr>

				{% for jurygrade in jurygrades %}
				<tr>
					<td><a href="{% url params.instance_name|add:':jury_detail' pk=jurygrade.jury.pk %}">{{jurygrade.jury.name}} {{jurygrade.jury.surname}}</a></td>
					<td class="td-center">{{jurygrade.grade_reporter}}</td>
					<td class="td-center">{{jurygrade.grade_opponent}}</td>
					{% if round.reviewer_team or not params.optional_reviewers %}
						<td class="td-center">{{jurygrade.grade_reviewer}}</td>
					{% endif %}
				</tr>
				{% endfor %}

				<tr>
					<td>
						<p class="emphase">{% trans 'MEAN' %}*</p>
					</td>
					{% for meangrade in meangrades %}
					<td class="td-center">
						<p class="emphase">{{meangrade|floatformat:2}}</p>
					</td>
					{% endfor %}
				</tr>

			</table>
		</div>

		<div class="content container">
			<p class="comment">*{% trans 'The lowest and highest grade(s) might be discarded according to the number of jury members.' %}</p>
		</div>
	{% endif %}
{% endblock jurygrades %}


{% block rejections %}
	{% if display_rejections and round.problem_presented %}
		<div class="content container">
			<h2>{% trans 'Rejection(s)' %}</h2>

			{% if params.enable_tactical_rejections %}
				{% if not site_config.do_not_display_tactical_rejections %}
					<div class="content container">
						<h3>{% trans 'Tactical rejection(s)' %}:</h3>
						{% for tacticalrejection in tacticalrejections %}
							<li><a href="{% url params.instance_name|add:':problem_detail' pk=tacticalrejection.problem.pk %}">{{tacticalrejection.problem.name}}</a></li>
						{% empty %}
							<p>{% trans 'No tactical rejections' %}</p>
						{% endfor %}
					</div>
				{% else %}
					<div>
						<h3>{% trans 'Tactical rejections are not displayed' %}</h3>
					</div>
				{% endif %}
			{% endif %}

			{% if params.enable_eternal_rejections %}
				<div class="content container">
					<h3>{% trans 'Eternal rejection(s)' %}:</h3>
					{% for eternalrejection in eternalrejection %}
						<li><a href="{% url params.instance_name|add:':problem_detail' pk=eternalrejection.problem.pk %}">{{eternalrejection.problem.name}}</a></li>
					{% empty %}
						<p>{% trans 'No eternal rejections' %}</p>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endblock rejections %}

{% block not_started %}
	{% if not started %}
		<div class="content container">
			<p>{% trans 'This round has not started yet !' %}</p>
		</div>
	{% endif %}
{% endblock not_started %}

{% endblock content %}
