{% extends 'IPTdev/head.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}

    <div class="section">
        <h1>{% trans 'Rounds overview' %}</h1>
    </div>

    <div class="content container">
        <p class="emphase">{% trans 'Click on a Round to get a detailed summary. Click on a Physics Fight to get a summarized view of all the corresponding Rounds.' %}</p>
    </div>

    <div class="content container-fluid main-table">
        <table class="table-borders">
            <tr>
                <th></th>
                {% for pf in pfs %}
                <th class="th-center"><a href="{% url 'IPTdev:physics_fight_detail' pfid=pf %}">{% trans 'Physics Fight' %} {{pf}}</a></th>
                {% endfor %}
            </tr>

            {% for thisroom in orderedroundsperroom %}
            <tr>
                <td ><b>{{thisroom.0.0.room}}</b></td>
                {% for thispf in thisroom %}
                <td>
                    <div class="room-list-of-rounds">
                        {% for round in thispf%}
                        <div>
                            <a href="{% url 'IPTdev:round_detail' pk=round.pk %}">{% trans 'Round' %} {{round.round_number}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </td>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="content container">

        <table>
            <tr>
                <!--
                TODO: detablize this caption
                -->
                <td></td>
                <td class="td-center"><p class="emphase">{% trans 'The Grand Finale' %}</p></td>
                <td></td>
            </tr>
            <tr>
				{% for round in finalrounds %}
					<td class="td-center"><a href="{% url 'IPTdev:finalround_detail' pk=round.pk %}">{% trans 'Round' %} {{round.round_number}}</a></td>
				{% endfor %}
            </tr>
            <tr><td><p class="emphase"></p></td></tr>

        </table>
    </div>



{% endblock content %}
