{% extends params.instance_name|add:'/head.html' %}
{% load humanize %}
{% load i18n %}
{% load predefined_ipt_links %}

{% block content %}


<div class="section">
    <h1>{{team.name}}</h1>
</div>

<div class="content container">
    <h1> {{team.rank|ordinal}} {% trans 'with' %} {{team.total_points|floatformat:2}} {% trans 'points' %}.</h1>
</div>


<div class="content container">
    <h2>{% trans 'Participants' %}:
    </h2> {% for participant in participants %}
    <div>
        <li><a href="{% url params.instance_name|add:':participant_detail' pk=participant.pk %}">{{participant.fullname}} {% trans 'gathered' %} {{participant.total_points|floatformat:2}} {% trans 'points' %}.</a></li>
    </div>
    {% endfor %}


    <h2>{% trans 'Team-Leaders:' %}
    </h2> {% for teamleader in teamleaders %}
    <div>
        <li>{{teamleader.name}} {{teamleader.surname}}</li>
    </div>
    {% endfor %}
    {% for jury in teamleaders_jury %}
    <div>
        <li><a href="{% url params.instance_name|add:':jury_detail' pk=jury.pk %}">{{jury.name}} {{jury.surname}} {% trans '(jury member)' %}</a></li>
    </div>
    {% endfor %}
</div>


<div class="content container">
    <table class="sortable">
        <tr>
            <th class="th-center">{% trans 'Problems presented' %}</th>
            <th class="th-center">{% trans 'Grade' %}</th>
            <th class="th-center">{% trans 'Role' %}</th>
        </tr>
        {% for round in allrounds %}
            {% if round.problem_presented %}
                <tr>
                    <td class="td-center"><a href="{% url params.instance_name|add:':problem_detail' pk=round.problem_presented.pk %}">{{round.problem_presented}}</a></td>
                    <td class="td-center"><a href="{% url params.instance_name|add:':round_detail' pk=round.pk %}">{{round.mygrade|floatformat:2}}</a></td>
                    <td class="td-center">{{round.myrole}}</td>
                </tr>
            {% endif %}
        {% endfor %}

    </table>
</div>

<div class="content container">
    {% if penalties %}
    <h3>{% trans 'Penalties' %}:</h3>
    {% for p in penalties %}

    <li>{% trans 'Multiplicative coefficient of' %} {{p.1}} {% trans 'for the Reporter in the' %} {{p.0|ordinal}} {% trans 'Physics Fight' %}.</li>

    {% endfor %} {% endif %}

    <h3>{% trans 'Bonus points' %}:</h3>
    <p>
    	{% if bonus_points_displayed %}
    		{{bonus_points_displayed}}
    	{% else %}
    		{% trans 'None' %}
    	{% endif %}
    </p>
</div>


{% if params.enable_apriori_rejections %}
	<div class="content container">
		<h3>{% trans 'Apriori rejection(s)' %}:</h3>
		{% for apriori_rejection in apriori_rejections %}
			<li><a href="{% url params.instance_name|add:':problem_detail' pk=apriori_rejection.problem.pk %}">{{apriori_rejection.problem.name}}</a></li>
		{% empty %}
			<p>{% trans 'No apriori rejections' %}</p>
		{% endfor %}
	</div>
{% endif %}


{% if display_eternal_rejections %}
	<div class="content container">
		<h3>{% trans 'Eternal rejection(s)' %}:</h3>
		{% for eternal_rejection in eternal_rejections %}
			<li>
				<a href="{% url params.instance_name|add:':problem_detail' pk=eternal_rejection.problem.pk %}">{{eternal_rejection.problem.name}}</a>
				:
				<a href="{% url params.instance_name|add:':round_detail' pk=eternal_rejection.round.pk %}">{{eternal_rejection.round}}</a>			
			</li>
		{% empty %}
			<p>{% trans 'No eternal rejections' %}</p>
		{% endfor %}
	</div>
{% endif %}


{% if supplementary_materials %}
	<div class="content container">
		<h3>{% trans 'Supplementary Materials' %}:</h3>
			{% for supmat in supplementary_materials %}
				{% supplementary_material_link supmat %}
				for Problem:
				<a href="{% url params.instance_name|add:':problem_detail' pk=supmat.problem.pk %}">{{supmat.problem.name}}</a>
			{% endfor %}
	</div>
{% endif %}

{% endblock content %}
