{% extends 'IPTdev/head.html' %}
{% load i18n %}

{% block content %}

    <div class="section">
        <h1>{% trans "Welcome!" %}</h1>
    </div>

	<div class="content container">
	<table style="width:100%">
  <tr>
    {% if params.poster_url %}
        <td>
            <img src="{{params.poster_url}}" width=500/>
        </td>
    {% endif %}
    <td>
        <p class="emphase">
            {% trans "This interface gathers the results of the " %}
            <a href="{{ params.website_url }}">{{params.NAME.front}}</a>.
        </p>

        <p class="emphase">{% trans "Most of the displayed elements can be clicked on. You can access teams, individual participant or jury member statistics, as well as details of each Round, Physics Fights and Problem." %}</p>
		
        <p class="emphase">{% trans "In case you spot a bug or have any suggestion to improve the software, please get in touch with us at webmaster (a) iptnet (dot) info." %}</p>
		<p class="emphase">
            {% trans "The results are updated continuously as the Physics Fights go on, resulting in a display that might not be completely accurate 100% of the time (due to grade checking). Please check your emails and " %}
            <a href="{{ params.website_url }}">{% trans "the website" %}</a>
            {% trans " for the official announcements of the results after each Fight." %}
        </p>

		

    </td>
    
  </tr>
  
</table>
    </div>


{% endblock content %}
